<ion-tabs>
  <ion-tab [root]="shoppingList" tabTitle="Shopping List" tabIcon="md-cart"></ion-tab>
  <ion-tab [root]="myProducts" tabTitle="My Products" tabIcon="md-list-box"></ion-tab>
  <ion-tab [root]="sharing" tabTitle="Sharing" tabIcon="md-share"></ion-tab>
  <ion-tab [root]="settings" tabTitle="Settings" tabIcon="md-cog"></ion-tab>
</ion-tabs>
