<ion-header>

  <ion-navbar>
    <ion-title>My Products</ion-title>
  </ion-navbar>

</ion-header>
 
<ion-content cache-view="false">
  <ion-grid>

    <ion-row class="list">
      <ion-col>
        <ion-list style="max-height: 65vh; overflow-y: scroll;">
            <button ion-item *ngFor="let item of items" (click)="showProductDetails(item)">{{item.name}}</button>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <button ion-button full (click)="addNewProduct()">Add new product</button>        
        </ion-col>
      </ion-row>

      <div hideWhen="core">
      <ion-row>
        <ion-col>
            <button ion-button full (click)="scanProductToList()">Scan - put on list</button>        
        </ion-col>
      </ion-row>  
    </div>
  </ion-grid>
  
</ion-content>