<ion-header>
  
    <ion-navbar>
      <ion-title>Settings</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <button ion-button (click)="logOut();">LOG OUT</button>
  </ion-content>