<!--
  Generated template for the ShoppingListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Shopping List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content cache-view="false">
  <ion-grid fixed>

    <ion-row class="list">
      <ion-col>
        <ion-list>
          <span *ngFor="let item of items">
            <button (click)="itemClick(item)" ion-item *ngIf="item.needed">{{item.name}}</button>
          </span>
        </ion-list>
      </ion-col>
    </ion-row>

    <div hideWhen="core">
    <ion-row class="button">
      <ion-col>
        <button ion-button full (click)="scan()">Scan - remove from list</button>
      </ion-col>
    </ion-row>
    </div>
  </ion-grid>
</ion-content>
