<ion-header>

  <ion-navbar>
    <ion-title>Add Product</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div hideWhen="core">
  <ion-row>
    <ion-col></ion-col>  
    <ion-col><button ion-button (click)="scanNewProduct()">Scan product</button></ion-col>
    <ion-col></ion-col>
  </ion-row>
</div>

  <ion-list>
    <ion-item>
      <ion-label floating>Product name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Barcode</ion-label>
      <ion-input type="text" [(ngModel)]="code"></ion-input>
    </ion-item>
    <br/>
    <br/>
  </ion-list>
  <button ion-button full (click)="addProduct()">Add Product</button>
</ion-content>
