<!--
  Generated template for the SharingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sharing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>This feature is not available yet.</h1>
</ion-content>
